[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
pytest = "*"

[packages]
requests = "*"
todoist2org = {editable = true,path = "."}
python-dateutil = "*"

[requires]
python_version = "3.8"
